{% extends "base.html" %}


{% block contenido %}



<h1 class="titulo-menu">
    📞 Contacto - LOS DOS GARCIAS
</h1>


<p class="subtitulo-menu">
    Estamos para atender tu pedido.
</p>




<div class="card">



<h2>
🌮 Taquería LOS DOS GARCIAS
</h2>



<p>
📍 Servicio exclusivo a domicilio
</p>



<p>
📞 Teléfono:
747 427 5925
</p>



<p>
🕒 Horario:
Lunes a Domingo
</p>



<p>
Desde 1994 ofreciendo sabor y tradición.
</p>



<br>



<a href="tel:7474275925">

<button>

📞 Llamar

</button>

</a>



<a href="https://wa.me/527474275925">

<button>

💬 WhatsApp

</button>

</a>



</div>




{% endblock %}