{% extends "base.html" %}


{% block contenido %}


<div class="card">


<h1 style="color:#d32f2f;">

🌮 Bienvenido a LOS DOS GARCIAS

</h1>


<h2>

"Desde 1994, llevando el sabor de nuestra tradición hasta la puerta de tu hogar."

</h2>


<br>


<p>

Disfruta nuestros tacos tradicionales:

</p>


<ul>

<li>Suadero</li>

<li>Bistec</li>

<li>Campechanos</li>

<li>Tripa</li>

<li>Chuleta</li>

<li>Pollo</li>

<li>Longaniza</li>

</ul>


<br>


<button>

Pedir ahora

</button>


</div>



{% endblock %}