```html
{% extends "base.html" %}


{% block contenido %}


<div class="card inicio-card">



<h1>
🌮 Bienvenido a
<br>
LOS DOS GARCIAS
</h1>



<h2>

"Desde 1994, llevando el sabor de nuestra tradición hasta la puerta de tu hogar."

</h2>



<br>



<p>

Disfruta nuestros tacos tradicionales:

</p>



<ul class="lista-tacos">


<li>🌮 Suadero</li>

<li>🌮 Bistec</li>

<li>🌮 Campechanos</li>

<li>🌮 Tripa</li>

<li>🌮 Chuleta</li>

<li>🌮 Pollo</li>

<li>🌮 Longaniza</li>


</ul>




<br>



<a href="/menu">

<button>

Pedir ahora

</button>

</a>



</div>



{% endblock %}
```




{% endblock %}
