{% extends "base.html" %}


{% block contenido %}


<h1 class="titulo-menu">
    🌮 Menú LOS DOS GARCIAS
</h1>


<p class="subtitulo-menu">
    Desde 1994, llevando el sabor de nuestra tradición hasta la puerta de tu hogar.
</p>



<div class="productos-container">


{% for producto in productos %}


<div class="producto-card">


<img 
src="{{ url_for('static', filename='img/productos/' + producto.imagen) }}"
alt="{{ producto.nombre }}"
>


<div class="producto-info">


<h2>
{{ producto.nombre }}
</h2>


<p>
{{ producto.descripcion }}
</p>


<h3>
$ {{ producto.precio }}
</h3>



<form action="/agregar_carrito" method="POST">


<input 
type="hidden"
name="id_producto"
value="{{ producto.id_producto }}"
>


<button type="submit">

<i class="fa-solid fa-cart-plus"></i>

Agregar al pedido

</button>


</form>


</div>


</div>


{% endfor %}


</div>



<div class="promociones-menu">


<h2>
🎉 Promociones LOS DOS GARCIAS
</h2>



<div class="promo">


<h3>
🥤 10 tacos o más
</h3>


<p>
Recibe un refresco de 600 ml gratis.
</p>


</div>



<div class="promo">


<h3>
🚚 25 tacos o más
</h3>


<p>
Envío totalmente gratis.
</p>


</div>



</div>




<div class="card" style="margin-top:30px;">


<h2 style="color:#d32f2f;">
🚚 Servicio a domicilio
</h2>


<p>
<strong>LOS DOS GARCIAS</strong> cuenta únicamente con servicio a domicilio.
</p>


<br>


<p>
📅 Jueves a Domingo
</p>


<p>
⏰ 7:00 PM - 11:00 PM
</p>


<p>
📞 747 427 5925
</p>


<p>
📧 emiliogarcianmms@gmail.com
</p>


<p>
📱 Instagram: @milo_garc
</p>


</div>



{% endblock %}